# Hashan e solution - Email Configuration
EMAIL_USER=buildmateplus@gmail.com
EMAIL_PASS=icld niyo gchs nwuv

# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=

# OpenRouter API Key (for AI Chat Agent)
OPENROUTER_API_KEY=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
